[submodule "non-elpa/evil"]
	path = non-elpa/evil
	url = git://gitorious.org/evil/evil.git
[submodule "non-elpa/emacs-color-theme-solarized"]
	path = non-elpa/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "non-elpa/markdown-mode"]
	path = non-elpa/markdown-mode
	url = http://jblevins.org/git/markdown-mode.git
[submodule "non-elpa/js2-mode"]
	path = non-elpa/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "nrepl.el"]
	path = nrepl.el
	url = git://github.com/kingtim/nrepl.el.git
[submodule "non-elpa/nrepl.el"]
	path = non-elpa/nrepl.el
	url = git://github.com/kingtim/nrepl.el.git
